.home_main{
    padding: 1rem 2rem 2rem;
}

.home_header{
    padding: 2rem 4rem 0;
    height: 100vh;
}

.info{
    padding: 7rem 0 0;
    color: #f5f5f5;
    text-align: center;
    font-weight: bold;
}

.info button{
    margin: 2rem 0 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: lightcyan;
}

.info button a{
    color: #111;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.brand-title{
    font-size: 2.5rem;
}

.info p{
    font-weight: 500;
    font-size: 1.8rem;
    margin: 2rem 0 0;
}

.about{
    padding: 3rem 0 0;
}

.about h2, .people h2{
    text-align: center;
    font-size: 1.5rem;
}

.people h2{
    margin-top: 2rem;
}

.objs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 2rem;
    row-gap: 4rem;
    margin: 2rem 4rem 0;
}

.execs{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.exec{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 2rem 0 0;
}

.exec h3{
    margin: 1rem 0;
}

.card img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
}

.card-title, .card-info{
    padding: 0 1.5rem;
}

.card-title{
    margin-bottom: 1rem;
}

.card-info{
    line-height: 1.7;
}

.home_footer{
    background: linear-gradient(rgba(15, 76, 129, 0.7), rgba(15, 76, 129, 0.7));
    min-height: 40vh;
    bottom: 0;
    padding: 2rem;
    color: #f5f5f5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.reach{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.copyright{
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    justify-content: center;
    font-size: 0.8rem;
}

.addr p:first-of-type{
    margin-top: 1rem;
}

.addr p{
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.email, .phone{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.phone p{
    display: flex;
    flex-flow: row nowrap;
    gap: 0.25rem;
}

@media(max-width: 767px){
    .home_header{
        padding: 1rem 1rem 0;
        height: 75vh;
    }

    .brand-title{
        font-size: 2rem;
    }

    .info p{
        font-size: 1.2rem;
    }

    .objs{
        margin: 2rem 1rem 0;
    }

    .card-title, .card-info{
        padding: 0;
        text-align: center;
    }

    .card-title{
        margin-top: 1rem;
    }

    .people{
        margin-top: 6rem;
    }

    .execs{
        flex-flow: column nowrap;
    }

    .home_footer{
        padding-bottom: 1rem;
    }

    .reach{
        flex-flow: column nowrap;
        gap: 2rem;
    }

    .copyright{
        margin-top: 2rem;
    }

    /*

    .contacts h4{
        text-align: end;
    } */
}