*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

html,
body,
#root,
.App{
  height: 100%;
  width: 100%;
}

html{
  scroll-behavior: smooth;
}

.home{
  min-height: 100%;
}